# Clean data

### Change working directory

By running the cell below we will change directory from "jupiter_notebooks" where this file exist to the parent directory (main directory of this project)

In [1]:
import os
current_dir = os.getcwd()
print(f"You are currently working in {current_dir}")
print("If you want to change to the parent of this directory, run the cell below")

You are currently working in c:\Users\fredd\Desktop\Studier\Project5\Uboats_in_ww2\Jupiter_notebooks
If you want to change to the parent of this directory, run the cell below

In [2]:
os.chdir(os.path.dirname(current_dir))
current_dir = os.getcwd()

print(f"You are now working in the following directory: {current_dir}")

You are now working in the following directory: c:\Users\fredd\Desktop\Studier\Project5\Uboats_in_ww2

### Load the raw dataset

In [3]:
import pandas as pd

data_raw = pd.read_csv(f"inputs/datasets/raw/uboats.csv")
data_raw.head()

,Name,Year,Type,Notable Commanders,Warships_sunk_n_total_loss_No,Warships_sunk_n_total_loss_Tons-n-GRT,Warships_Damaged_No,Warships_Damaged_Tons-n-GRT,Merchant_Ships_sunk_No,Merchant_Ships_sunk_GRT,...,Notes,URL,Commissioned,Patrols,Patrols_Count,Wolfpacks,Wolfpacks_Count,Flotilla,Flotilla_Count,Last_Flotilla
0,U-1,1935,IIA,Klaus Ewerth,0,0,0,0,0,0,...,Struck a mine,https://en.wikipedia.org/wiki/German_submarine...,1935-06-29,2 patrols:1st patrol:15 – 29 March 19402nd pat...,2,NaN,0,"{'U-boat School Flotilla': ['1 July 1935 ', ' ...",1,U-boat School Flotilla
1,U-2,1935,IIA,"Hans Heidtmann,Heinrich Liebe,Helmut Rosenbaum...",0,0,0,0,0,0,...,Training boat,https://en.wikipedia.org/wiki/German_submarine...,1935-07-25,2 patrols:1st patrol:15 – 29 March 19402nd pat...,2,NaN,0,"{'U-boat School Flotilla': ['1 July 1935 ', ' ...",2,21st U-boat Flotilla
2,U-3,1935,IIA,"Joachim Schepke,Otto von Bülow,Hans-Hartwig Tr...",0,0,0,0,2,"2,348",...,NaN,https://en.wikipedia.org/wiki/German_submarine...,1935-09-06,5 patrols:1st patrol:4 – 8 September 19392nd p...,5,NaN,0,"{'U-boat School Flotilla': ['1 August 1935 ', ...",2,21st U-boat Flotilla
3,U-4,1935,IIA,Heinz-Otto Schultze,1,"1,090",0,0,3,"5,133",...,NaN,https://en.wikipedia.org/wiki/German_submarine...,1935-08-17,4 patrols:1st patrol:4 – 14 September 19392nd ...,4,NaN,0,"{'U-boat School Flotilla': ['1 August 1935 ', ...",2,21st U-boat Flotilla
4,U-5,1935,IIA,Heinrich Lehmann-Willenbrock,0,0,0,0,0,0,...,Accident,https://en.wikipedia.org/wiki/German_submarine...,1935-08-31,2 patrols:1st patrol:24 August – 8 September 1...,2,NaN,0,{'U-boat School Flotilla': ['1 September 1935 ...,2,21st U-boat Flotilla

How many of these columns have empty values?

In [4]:
total_null_values = data_raw.isnull().sum()
print(total_null_values)

Name                                       0
Year                                       0
Type                                       0
Notable Commanders                       935
Warships_sunk_n_total_loss_No              0
Warships_sunk_n_total_loss_Tons-n-GRT      0
Warships_Damaged_No                        0
Warships_Damaged_Tons-n-GRT                0
Merchant_Ships_sunk_No                     0
Merchant_Ships_sunk_GRT                    0
Merchant_Ships_damaged_No                  0
Merchant_Ships_damaged_GRT                 0
Merchant_Ships_total_loss_No               0
Merchant_Ships_total_loss_GRT              0
Fate_Event                                 0
Fate_Date                                  3
Notes                                    250
URL                                        0
Commissioned                               2
Patrols                                  296
Patrols_Count                              0
Wolfpacks                                779
Wolfpacks_Count                            0
Flotilla                                   0
Flotilla_Count                             0
Last_Flotilla                              0
dtype: int64

I want to see only the columns that have existing empty values

In [5]:
columns_with_null_values = total_null_values[total_null_values > 0]
print(columns_with_null_values)

Notable Commanders    935
Fate_Date               3
Notes                 250
Commissioned            2
Patrols               296
Wolfpacks             779
dtype: int64

Since there are two columns here that I need for the project `Fate_Date` and `Commissioned`, those empty fields needs to be filled. The other ones I can drop and then save a copy of the dataset I will be working on. That we will do later.

To have correct data to work with, I want to fill in these blanks in `Fate_Date`
So first I need to find out which indexes those three values have.

In [6]:
fate_dates_null_index = data_raw[data_raw["Fate_Date"].isnull()].index
print(fate_dates_null_index)

Index([1028, 1074, 1117], dtype='int64')

To know what I need to search for, I need the name of the uboats that haven´t got any dates for their fate

In [7]:
values_to_find = data_raw.loc[[1028, 1074, 1117], ["Name", "Fate_Event"]]
print(values_to_find)

        Name Fate_Event
1028  U-2505     Buried
1074  U-3004     Buried
1117  U-3506     Buried

I´ve searched the internet and found that they are now buried, but I want the happening that occur at World War II and found this:<br>
U-2505 was scuttled 3rd of may 1945<br>
U-3004 and U3506 was scuttled 2nd of may 1945

So now we need to input this data:
but first we need to finod out which format the date shall be in.

In [16]:
print(data_raw.loc[[999,1003], "Fate_Date"])

999     5 May 1945
1003    9 May 1945
Name: Fate_Date, dtype: object

In [8]:
data_raw.loc[1028, "Fate_Date"] = "3 May 1945"
data_raw.loc[1074, "Fate_Date"] = "2 May 1945"
data_raw.loc[1117, "Fate_Date"] = "2 May 1945"

print(data_raw.loc[[1028, 1074, 1117], "Fate_Date"])

1028    3 May 1945
1074    2 May 1945
1117    2 May 1945
Name: Fate_Date, dtype: object

In [10]:
total_null_values = data_raw.isnull().sum()
print(total_null_values)

Name                                       0
Year                                       0
Type                                       0
Notable Commanders                       935
Warships_sunk_n_total_loss_No              0
Warships_sunk_n_total_loss_Tons-n-GRT      0
Warships_Damaged_No                        0
Warships_Damaged_Tons-n-GRT                0
Merchant_Ships_sunk_No                     0
Merchant_Ships_sunk_GRT                    0
Merchant_Ships_damaged_No                  0
Merchant_Ships_damaged_GRT                 0
Merchant_Ships_total_loss_No               0
Merchant_Ships_total_loss_GRT              0
Fate_Event                                 0
Fate_Date                                  0
Notes                                    250
URL                                        0
Commissioned                               2
Patrols                                  296
Patrols_Count                              0
Wolfpacks                                779
Wolfpacks_Count                            0
Flotilla                                   0
Flotilla_Count                             0
Last_Flotilla                              0
dtype: int64

Now lets do the same with the empty values in `Commissioned`

In [12]:
commissioned_dates_with_null_values = data_raw[data_raw["Commissioned"].isnull()].index
print(commissioned_dates_with_null_values)

Index([113, 123], dtype='int64')

In [13]:
values_to_find_2 = data_raw.loc[[113, 123], ["Name"]]
print(values_to_find_2)

      Name
113  U-118
123  U-128

To see what format the date are in, let´s look at the data in a filled index

In [14]:
data_raw.loc[[114], ["Commissioned"]]

    Commissioned
114   1942-04-02

In [15]:
data_raw.loc[113, "Commissioned"] = "1941-12-06"
data_raw.loc[123, "Commissioned"] = "1940-15-30"

print(data_raw.loc[[113, 123], "Commissioned"])

113    1941-12-06
123    1940-15-30
Name: Commissioned, dtype: object

To see if I have filled in the null values, I need to check again the null values.

In [17]:
total_null_values = data_raw.isnull().sum()
print(total_null_values)

Name                                       0
Year                                       0
Type                                       0
Notable Commanders                       935
Warships_sunk_n_total_loss_No              0
Warships_sunk_n_total_loss_Tons-n-GRT      0
Warships_Damaged_No                        0
Warships_Damaged_Tons-n-GRT                0
Merchant_Ships_sunk_No                     0
Merchant_Ships_sunk_GRT                    0
Merchant_Ships_damaged_No                  0
Merchant_Ships_damaged_GRT                 0
Merchant_Ships_total_loss_No               0
Merchant_Ships_total_loss_GRT              0
Fate_Event                                 0
Fate_Date                                  0
Notes                                    250
URL                                        0
Commissioned                               0
Patrols                                  296
Patrols_Count                              0
Wolfpacks                                779
Wolfpacks_Count                            0
Flotilla                                   0
Flotilla_Count                             0
Last_Flotilla                              0
dtype: int64

There are some columns that have very long names, I will rename these columns to make them easier to find.

In [10]:
data_renamed = data_raw.rename(columns={"Warships_sunk_n_total_loss_No": "Total_warships_sunk", 
                                        "Warships_sunk_n_total_loss_Tons-n-GRT": "Total_warship_tonnage_sunk",
                                        "Merchant_Ships_sunk_No": "Total_merchant_ships_sunk",
                                        "Merchant_Ships_sunk_GRT": "Total_merchant_ships_tonnage_sunk"})

In [ ]:
data_renamed.columns

In [ ]:
data_renamed.dtypes

In [ ]:

print(data_renamed["Total_warship_tonnage_sunk"].dtype)

In [ ]:
warship_tonnage_values = data_renamed["Total_warship_tonnage_sunk"].value_counts()
print(warship_tonnage_values)

Since the tonnage columns are represented as tonnage and now are shown as object

In [19]:
data_renamed["Total_warship_tonnage_sunk"] = data_renamed["Total_warship_tonnage_sunk"].str.replace(',', '').astype(float)

In [ ]:
print(data_renamed["Total_warship_tonnage_sunk"].dtype)
data_renamed["Total_warship_tonnage_sunk"].head(100)